* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -68px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.customfooter, .page-wrap:after {
    height: 40px;
}

.customfooter {
    padding-top: 20px;
    border-top: 8px solid rgba(176, 233, 176, 0.767);
    background-color: grey;
    color: white;
    font-size: 12px;
    text-align: center;
}

body {
    background-color: #f4f4f4;
    background-image: url(../images/white_background.jpg);
}

.nav-1, .nav-4 {
    background-color:rgba(176, 233, 176, 0.767);
    color: rgba(176, 233, 176, 0.767);
    float: left;
    width: 15%;
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.nav-2 {
    background-color: grey;
    color: white;
    float: left;
    width: 20%;
    padding-top: 28px;
    padding-bottom: 28px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

.nav-3 {
    background-color: rgba(176, 233, 176, 0.767);
    float: left;
    width: 50%;
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box;
    text-align: right;
}


.clr {
    clear:both;
}


.container {
    background: rgb(238, 238, 238);
    border: 2px grey solid;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

h1, h2 {
    font-family: 'Be Vietnam', sans-serif;
}

h2 {
    font-size: 30px;
    margin: 25px;
}

hr {
    margin-left: 25px;
    margin-right: 25px;
}

p {
    margin: 25px;
    line-height: 28px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#profile {
    float: left;
    margin: 25px;
}

a:hover {
    color: grey;
}

a {
    text-decoration: none;
}


form {
    padding: 20px;
}

.form-group {
    padding-bottom: 15px;
    padding-right: 25px;
}

label {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
    margin-bottom: 3px;
}

input[type="text"], 
textarea {
    padding: 8px;
    width: 100%;
}

textarea {
    height: 80px;
}

input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

input[type="submit"]:hover {
    background: grey;
}


#portfolio {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px grey solid;
    padding-top: 10px;
}


@media (max-width: 980px) {
    .container {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .nav-1, .nav-4 {
        width: 3.5%;
    }
    
    .nav-2 {
        width: 23%;
    }
    
    .nav-3 {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .container {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 60px;
        width: 93%;
    }
    .nav-2 {
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 640px) {
    .nav-2 {
        width: 100%;
        font-size: 30px;
    }
    
    .nav-3 {
        width: 100%;
        text-align: center;
    }

    .nav-1, .nav-4 {
        width: 0%;
    }

    #portfolio {
        width: 295px;
        height: 295px;
    }
}